{% extends 'base.html.twig' %}

{% block title %}
    ALta d'album nou
{% endblock %}

{% block body%}
    <h1>Àlbums</h1>
    <div class="row">
        <div class="col-xs-6">
            <h1>Àlbums</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}