{% extends "base.html.twig" %}

{% block body %}
    <h1>Album List</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>genere</th>
                <th>year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.title }}</td>
                <td>{{ album.genere }}</td>
                <td>{{ album.year }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}