{% extends 'base.html.twig' %}

{% block title %}
    Esborrat de cançons
{% endblock %}

{% block body%}
    <p>Cuidadín vas a esborrar la cançó {{ song.name }}. Estàs segur?</p>
    <p><a href="{{ path('app_songs_listing') }}">Cancelar</a></p>
    <p><a href="{{ path('app_songs_deleteconfirm', {id: song.id}) }}">Acceptar</a></p>
{% endblock %}