{% extends 'base.html.twig' %}

{% block title %}
    ALta de cançó nova
{% endblock %}

{% block body%}
    <div class="row">
        <div class="col-xs-6">
            <h1>Cançons</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}